<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>txt_language</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>English</string>
				<string>German</string>
				<string>Chinese - simplified</string>
				<string>Chinese - traditional</string>
				<string>Arabic</string>
				<string>Russian</string>
				<string>Spanish</string>
				<string>French</string>
				<string>Portuguese - Bra</string>
				<string>Portuguese - Por</string>
				<string>Italian</string>
				<string>Japanese</string>
				<string>Korean</string>
				<string>Dutch</string>
			</array>
			<key>Values</key>
			<array>
				<string>default</string>
				<string>en</string>
				<string>de</string>
				<string>zh-Hans</string>
				<string>zh-Hant</string>
				<string>ar</string>
				<string>ru</string>
				<string>es</string>
				<string>fr</string>
				<string>pt</string>
				<string>pt-PT</string>
				<string>it</string>
				<string>ja</string>
				<string>ko</string>
				<string>nl</string>
			</array>
			<key>Title</key>
			<string>txt_current_language</string>
			<key>Key</key>
			<string>language_selected</string>
			<key>DefaultValue</key>
			<string>default</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>txt_notification_center</string>
			<key>FooterText</key>
			<string>txt_notification_center_footer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>txt_today_extension_allow_login_logout</string>
			<key>Key</key>
			<string>today_extension_allow_login_logout</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>txt_today_extension_allow_near_lock_update</string>
			<key>Key</key>
			<string>today_extension_allow_near_lock_update</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>txt_reqeust_auth_on_locked_device</string>
			<key>Key</key>
			<string>reqeust_auth_on_locked_device</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>txt_show_near_lock</string>
			<key>Key</key>
			<string>show_today_extension</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>txt_swipe_left_footer</string>
			<key>Title</key>
			<string>interactive_notifications</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>txt_swipe_left_to_login</string>
			<key>Key</key>
			<string>login_through_notifications</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>txt_text_notifications</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>txt_on_approach</string>
			<key>Key</key>
			<string>notify_on_login</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>txt_walk_away</string>
			<key>Key</key>
			<string>notify_on_logout</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>txt_sound_notifications</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>txt_sound_on_unlock</string>
			<key>Key</key>
			<string>sound_on_unlock</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>txt_sound_on_lock</string>
			<key>Key</key>
			<string>sound_on_lock</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>txt_units</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>txt_measure</string>
			<key>Titles</key>
			<array>
				<string>Meters</string>
				<string>Feet</string>
				<string>Signal Strength</string>
			</array>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>Key</key>
			<string>distance_unit</string>
			<key>DefaultValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>txt_distance_precision</string>
			<key>FooterText</key>
			<string>txt_distance_precision_footer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>txt_enhanced_tracking</string>
			<key>Key</key>
			<string>enhanced_tracking</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>txt_application_information</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>Title</key>
			<string>txt_version</string>
			<key>Key</key>
			<string>version</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>Filip Duvnjak</string>
			<key>Title</key>
			<string>txt_copyright</string>
			<key>Key</key>
			<string>copyright</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
